body {
    background: #6A8EAE;
    height: 100%;
    font-size: 7vw;
}

.phone-header {
    background: #D1FAFF;
}

h1 {
    font-size: 10vw;
}

.container {
    width: 80%;
    height: 100vw;
    margin-top: 0;
}

#join-room {
    padding-top: 50%;
}

.upload-photo, .caption-photo {
    padding-top: 30%;
}

#photo-to-upload {
    display: none;
}

#room-id, #caption-value {
    width: 100%;
}

#photo-placeholder {
    background: lightgray;
    position: relative;
    text-align: center;
    width: 100%;
    height: 70vw;
    font-size: 60vw;
}

.fa-camera-retro {
    position: absolute;
    top: 5vw;
    left: 5vw;
    color: grey;
}

button {
    font-size: 6vw;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}



