body {
  background: #6A8EAE;
}

.meme-container {
  position: relative;
  margin: 10px;
  height: 33vw;
}

.meme-caption {
  position: absolute;
  left: 0;
  bottom: 2vw;
  right: 0;
  font-size: 2rem;
  width: 100%;
  z-index: 2;
  background: rgba(128, 128, 128, 0.678)
}